div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 178px;
    height: 178px;
    overflow: hidden;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.small-gallery {
    margin: 5px;
    float: left;
    width: 100px;
}

div.small-gallery  img {
    border: 1px solid #ccc;
    width: 98px;
    height: 98px;
    overflow: hidden;
}